block variables
    - var name = "Hunter";

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' type='text/css' href='main.css')
    title My Website
  body
    main
      h1 Hello, pug
      p #{name}

    script(src='main.js')
